 <div class="page-wrapper">
        <!-- header-1 -->
        <header class="header-1">
            <div class="container">
                <div class="row">
                    <div class="navbar col-sm-12 navbar-fixed-top" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle"></button>
                            <a class="brand" href="/"> Philip Electric</a>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav pull-right">
                                <li>
                                    <a href="/">HOME</a>
                                </li>
                                <li>
                                    <a href="about">ABOUT</a>
                                </li>
                                <li>
                                    <a href="products">PRODUCTS</a>
                                </li>
                                <li>
                                    <a href="partners">PARTNERS</a>
                                </li>
                                <li>
                                    <a href="contacts">CONTACTS</a>
                                </li>
                            </ul>
                            <ul class="subnav">
                                <li>
                                    <a href="about">About</a>
                                </li>
                                <li>
                                    <a href="partners">Partners</a>
                                </li>
                                <li>
                                    <a href="contacts">Contacts</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section class="header-1-sub">
            <div id="pt-main" class="page-transitions pt-perspective">
                <div class="pt-page pt-page-1">
                    <div class="background">
                        &nbsp;
                    </div>
                    <div class="caption">
                        <div class="container">
                            <h3>ABOUT</h3>
                            <p class="lead">
                                Who are we?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/>
        <!-- footer-6 -->
        <footer class="footer-6">
            <div class="container">
                <div class="row">
                    <nav>
                    <div class="col-sm-1">
                            <h6>Company</h6>
                        </div>
                        <div class="col-sm-2">
                            <ul>
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">Partners</a>
                                </li>
                                <li>
                                    <a href="#">Contacts</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-1">
                            <h6>Products</h6>
                        </div>
                        <div class="col-sm-2">
                            <ul>
                                <li>
                                    <a href="#">Automation</a>
                                </li>
                                <li>
                                    <a href="#">Switchboards</a>
                                </li>
                                <li>
                                    <a href="#">Electrical Construction</a>
                                </li>
                                <li>
                                    <a href="#">Fitting HV, MV</a>
                                </li>
                                <li>
                                    <a href="#">Cableholder Trolleys</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-3" style="padding-left:80px;"> 
                        <img src="/assets/img/CSQ.jpg" />   
                        </div>
                    </nav>
                    <div class="col-sm-3">
                        <div>
                            <a class="brand" href="#">Philip Electric</a>
                            <p style="font-size:16px;"> Copyright &copy; 2014<br/>Philip Electric & Co. Srl<br/> RO33543658 </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        </div>

