<section class="header-1-sub smaller">
    <div id="pt-main" class="page-transitions pt-perspective">
        <div class="pt-page pt-page-1">
            <div class="background about-background">
                &nbsp;
            </div>
            <div class="caption">
                <div class="container center">
                    <h2>About Us</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
  <div class="container-fluid">
    <br/>
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
        <p>
            </br>
            Moditech company founded in 1990 by technologic experienced promoting member (from AEG italian branch), to produce electromechanical equipments.<br/>
            <br/>
            In 1993 the new introduced company management considered necessary and useful, to achieve the planned results, to increment the employees number and to diversify the production to cover other new industrial areas.<br/>
            <br/>
            To fulfil this target, mainly, the following activities were developped:</p>
            <ul>
                <li>Construction of  M.V. and L.V. switchboards</li>
                <li>Electro-instrumental installations</li>
                <li>Cableholder trolleys for moving machine and cranes</li>
                <li>H.V. and M.V. fittings for aerial electric lines and power switch stations</li>
                <li>Software development for industrial automation</li>
            </ul>
            <p>All this determined a fast increase of orders and production allowing a widening of our Customers,  the growing of qualifying technical experiences and greater achievements in domestic and foreign market.<br/>
            <br/>
            The economic and financial structure thus improved, allowing bigger investments and gaining meanwhile good appreciations from our Customers and Suppliers.<br/>
            <br/>
            With the implementing of Quality System (certification ISO 9001 by CSQ) a further step was taken to guarantee a better future to the employees and to ensure our Customers with better service and a final product meeting the quality standards.<br/></p>
            <br/>
            <br/>
      </div>
      <div class="col-xs-2"></div>
    </div>

   </div>
</section>


