<section>
  <div class="container-fluid" style="color:#000;">
<br/>
    <div class="row scaccomatto">
      <div class="col-md-4 quadrato" style="padding-left:40px;">
        <img src="assets/auto/Halt1_ilva.JPG" class="img-responsive img-rounded pointer" width="300" alt="Automation" data-toggle="modal" data-target="#Modal_auto1" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">
        <img src="assets/auto/industria_2.jpg" class="img-responsive img-rounded pointer" width="300" alt="Automation" data-toggle="modal" data-target="#Modal_auto2" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">
      </div>
      <div class="col-md-7" style="text-align:justify;">
       <h3>AUTOMATION DEPARTMENT</h3>
        <p style="margin-right:100px;">
        	</br>
					Since 1999 Moditech has diversified its offer in the marketplace starting the industrial automation software development activity. The acquired know how enable the company to fulfil specifications and request from exigent Customers.
					</br></br>
					Many projects have been developped in different industrial sectors of production like Metallurgic, Papermaking, Household appliances, etc., delivering an automation product complete in all typical stages consisting in the definition of specifications, project execution, commissioning, operative personnel training, final documentation and successive technical support on demand.
					</br></br>
					The hardware equipments and the software packages used are usually the state of the art products from well known world suppliers: Siemens, Rockwell Automation, General Electric, etc.


        </p>
      </div>
    </div>

   </div>
</section>

<!-- Tutti i Modal per ingrandire le immagini -->
<div class="modal" id="Modal_auto1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Automation Department</h4>
      </div>
      <div class="modal-body">
        <img class= "img-responsive" src="assets/auto/Halt1_ilva.JPG" alt="Automation">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" id="Modal_auto2">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Automation Department</h4>
      </div>
      <div class="modal-body">
        <img class= "img-responsive" src="assets/auto/industria_2.jpg" alt="Automation">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<div class="container-fluid" style="background:#F5F5F5; color:#fff;">

<h1 class="center titolone">
<strong>Some of our Projects</strong></h1>

<div class="trittico">
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail thumbnail-trittico">
      <img src="assets/metal.png" alt="Metallurgy">
      <div class="caption">
        <h3>METALLURGY</h3>
        <p>
        	Advanced System for Treatments in Ladle </br>
        	Continuous Cast Production Line </br>
					Dedusting Plant Filters </br>
					Continuous Cast Revamping </br>
					Blast Furnace Drill Machine </br>
        </p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail thumbnail-trittico">
      <img src="assets/paper.png" alt="Papermaking">
      <div class="caption">
        <h3>PAPERMAKING</h3>
        <p>Pulper Equipment</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail thumbnail-trittico">
      <img src="assets/house.png" style="width:90px; height:80px;" alt="Household Appliances">
      <div class="caption">
        <h3>HOUSEHOLD APPLIANCES</h3>
        <p>Cataphoresis Treatment</p>
      </div>
    </div>
  </div>
</div>
</div>

</div>
</section>