<section>
  <div class="container-fluid" style="color:#000;">
<br/>
    <div class="row scaccomatto">
      <div class="col-md-4 quadrato" style="padding-left:40px;">
        <img src="assets/auto/Halt1_ilva.JPG" class="img-responsive img-rounded pointer" width="300" alt="Automation" data-toggle="modal" data-target="#Modal_auto1" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">
        <img src="assets/auto/industria_2.jpg" class="img-responsive img-rounded pointer" width="300" alt="Automation" data-toggle="modal" data-target="#Modal_auto2" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">
      </div>
      <div class="col-md-7" style="text-align:justify;">
       <h3>AUTOMATION DEPARTMENT</h3>
        <p style="margin-right:100px;">
        	</br>
					Since 1999 Moditech has diversified its offer in the marketplace starting the industrial automation software development activity. The acquired know how enable the company to fulfil specifications and request from exigent Customers.
					</br></br>
					Many projects have been developped in different industrial sectors of production like Metallurgic, Papermaking, Household appliances, etc., delivering an automation product complete in all typical stages consisting in the definition of specifications, project execution, commissioning, operative personnel training, final documentation and successive technical support on demand.
					</br></br>
					The hardware equipments and the software packages used are usually the state of the art products from well known world suppliers: Siemens, Rockwell Automation, General Electric, etc.


        </p>
      </div>
    </div>

   </div>
</section>

<!-- Tutti i Modal per ingrandire le immagini -->
<div class="modal" id="Modal_auto1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Automation Department</h4>
      </div>
      <div class="modal-body">
        <img class= "img-responsive" src="assets/auto/Halt1_ilva.JPG" alt="Automation">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal" id="Modal_auto2">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Automation Department</h4>
      </div>
      <div class="modal-body">
        <img class= "img-responsive" src="assets/auto/industria_2.jpg" alt="Automation">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->