<section class="header-1-sub smaller">
    <div id="pt-main" class="page-transitions pt-perspective">
        <div class="pt-page pt-page-1">
            <div class="background cableholder-background">
                &nbsp;
            </div>
            <div class="caption">
                <div class="container center">
                    <h2>Cableholder Trolleys For Moving Machines</h2>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
  <div class="container-fluid">
    <br/>
    <div class="row scaccomatto">
      <div class="col-xs-11 col-sm-3 col-md-4 quadrato festone" style="">
        <img src="assets/cable/Carrello_festone_ico.JPG" class="img-responsive img-rounded pointer" width="300" alt="Carrello Festone" data-toggle="modal" data-target="#Modal_auto1" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">     		
      </div>
      <div class="col-xs-11 col-sm-9 col-md-7">
        <p>
        	</br>
					The activity in this production field began in 1980 with the procurement of formerly ELTIN.
					</br></br>
					Our trolleys are manufactured, mainly, in a standard shape suited for quay cranes moving power supply,  bridge cranes, industrial machines and moving installations.
					</br></br>
					Upon Customer request, trolleys with given speed and load power can be supplied.</p>
      </div>
    </div>

    <div class="row scaccomatto lined">
      <div class="col-xs-1 col-sm-4 col-lg-5">
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 aligno">
        <img src="assets/cable/Carrello_frontale_ico.JPG" class="img-responsive img-rounded pointer" width="200" alt="Carrello Frontale" data-toggle="modal" data-target="#Modal_auto2" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 aligno">
        <img src="assets/cable/Carrello_intero_ico.JPG" class="img-responsive img-rounded pointer" width="200" alt="Carrello Intero" data-toggle="modal" data-target="#Modal_auto3" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">
      </div>
    </div> <!-- /Grid Foto -->
  </div>
</section>
