<section class="header-1-sub smaller">
    <div id="pt-main" class="page-transitions pt-perspective">
        <div class="pt-page pt-page-1">
            <div class="background clients-background">
                &nbsp;
            </div>
            <div class="caption">
                <div class="container center">
                    <h2>Clients & Projects Developed</h2>
                </div>
            </div>
        </div>
    </div>
</section>



</section>
    <div class="container-fluid">
    <br/>
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-8 center"> 
            <h2>Some of our Clients</h2>
            <br/>
            <br/>
            <img src="assets/clients.png" width="600"/>
    <h2>Executed Installations</h2>
    <br/>
    <br/>
    <div role="tabpanel"> <!-- Tabs per prodotti -->
      <ul class="nav nav-tabs" role="tablist"> <!-- Nav tabs -->
        <li role="presentation" class="active"><a href="#1" aria-controls="home" role="tab" data-toggle="tab">1-10</a></li>
        <li role="presentation"><a href="#11" aria-controls="home" role="tab" data-toggle="tab">11-25</a></li>
        <li role="presentation"><a href="#26" aria-controls="profile" role="tab" data-toggle="tab">26-40</a></li>
        <li role="presentation"><a href="#41" aria-controls="messages" role="tab" data-toggle="tab">41-46</a></li>
      </ul>

      <div class="tab-content"> <!-- Tab panes -->

        <div role="tabpanel" class="tab-pane active" id="1"> <!-- Medium Voltage -->
        <table class="table table-hover responsive-table">
  <tbody><tr>
    <td width="44" align="center" >
      <p><b><span>No.</span></b></p>
    </td>
    <td align="center" >
      <p><b><span>INSTALLATION DESCRIPTION</span></b></p>
    </td>
    <td align="center" >
      <p><b><span>EXECUTED
      ACTIVITIES</span></b></p>
    </td>
    <td align="center" >
      <p><b><span>LOCATION</span></b></p>
    </td>
  </tr>
  <tr>
    <td width="44"  align="center">
      <p>1</p>
    </td>
    <td >
      <p><span>Electroinstrumental
      and Automation installation for revamping and upgrading of a steel mill</span></p>
    </td>
    <td >
      <p><span>-
      Planning<br>
      - Assembling<br>
      - Testing</span></p>
    </td>
    <td >
      <p><span>SWEDEN</span></p>
    </td>
  </tr>
  <tr>
    <td width="44"  align="center">
      <p>2</p>
    </td>
    <td >
      <p><span>Wiredrawing
      of nylon plant</span></p>
    </td>
    <td >
      <p><span>-
      Planning<br>
      - Construction<span><br>
      </span>- Assembling</span></p>
    </td>
    <td >
      <p><span>ITALY</span></p>
    </td>
  </tr>
  <tr>
    <td width="44"  align="center">
      <p>3</p>
    </td>
    <td >
      <p><span>Electroinstrumental
      installation for polymethylmethalcrylate production</span></p>
    </td>
    <td >
      <p><span>-
      Assembling<br>
      - Testing</span></p>
    </td>
    <td >
      <p><span>ITALY</span></p>
    </td>
  </tr>
  <tr>
    <td width="44"  align="center">
      <p>4</p>
    </td>
    <td >
      <p><span>Electroinstrumental
      installation for revamping of steel bar cutting</span></p>
    </td>
    <td >
      <p><span>-
      Assembling<br>
      - Testing</span></p>
    </td>
    <td >
      <p><span>ITALY</span></p>
    </td>
  </tr>
  <tr>
    <td width="44"  align="center">
      <p>5</p>
    </td>
    <td >
      <p><span>Revamping
      of distribution electrical cabin M.V. and L.V. for coke-oven in
      metallurgic plant</span></p>
    </td>
    <td >
      <p><span>-
      Planning<br>
      - Construction<br>
      - Assembling</span></p>
    </td>
    <td >
      <p><span>ITALY</span></p>
    </td>
  </tr>
  <tr>
    <td width="44"  align="center">
      <p>6</p>
    </td>
    <td >
      <p><span>Automation</span><span>
      for aspiration of particulates in steel plant</span></p>
    </td>
    <td >
      <p><span>-
      Planning<br>
      - Construction<br>
      - Assembling</span></p>
    </td>
    <td >
      <p><span>ITALY</span></p>
    </td>
  </tr>
  <tr>
    <td width="44"  align="center">
      <p>7</p>
    </td>
    <td >
      <p><span>Power
      and control Boards for steel mill</span></p>
    </td>
    <td >
      <p><span>-
      Planning<br>
      - Construction<br>
      </span></p>
    </td>
    <td >
      <p><span>MEXICO</span></p>
    </td>
  </tr>
  <tr>
    <td width="44"  align="center">
      <p>8</p>
    </td>
    <td >
      <p><span>Integrated
      plant automation for 3&nbsp; passenger ships</span></p>
    </td>
    <td >
      <p><span>-
      Planning<br>
      - Construction<br>
      - Assembling</span></p>
    </td>
    <td >
      <p><span>ITALY</span></p>
    </td>
  </tr>
  <tr>
    <td width="44"  align="center">
      <p>9</p>
    </td>
    <td >
      <p><span>Power
      and control Boards for steel mill</span></p>
    </td>
    <td >
      <p><span>-
      Planning<br>
      - Construction<br>
      </span></p>
    </td>
    <td >
      <p><span>EGYPT</span></p>
    </td>
  </tr>
  <tr>
    <td width="44"  align="center">
      <p>10</p>
    </td>
    <td >
      <p><span>Installation
      for slabs cutting for steel mill</span></p>
    </td>
    <td >
      <p><span>-
      Planning<br>
      - Construction<br>
      - Assembling<br>
      - Automation<br>
      - Supervision</span></p>
    </td>
    <td >
      <p><span>ITALY</span></p>
    </td>
  </tr>
</tbody>
        </table>
        </div> <!-- /Medium Voltage -->




















<div role="tabpanel" class="tab-pane" id="11"> <!-- Low Voltage -->
<table class="table table-hover responsive-table">
  <tbody><tr>
    <td align="center">
      <p><b><span>No.</span></b></p></td>
    <td align="center">
      <p><b><span>INSTALLATION DESCRIPTION</span></b></p></td>
    <td align="center">
      <p><b><span>EXECUTED
      ACTIVITIES</span></b></p>
    </td>
    <td align="center">
      <p><b><span>LOCATION</span></b></p></td>
  </tr>
  <tr>
    <td align="center">
      <p>11</p>
    </td>
    <td>
      <p><span>Electric
      revamping for continuous machine in papermaking industry</span></p>
    </td>
    <td>
      <p><span>-
      Planning<br>
      - Assembling<br>
      - Testing</span></p>
    </td>
    <td>
      <p><span>ITALY</span></p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <p>12</p>
    </td>
    <td>
      <p><span>Electric
      installations for quay crane for containers unloading</span></p>
    </td>
    <td>
      <p><span>-
      Planning<br>
      - Assembling<br>
      - Testing</span></p>
    </td>
    <td>
      <p><span>ITALY</span></p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <p>13</p>
    </td>
    <td>
      <p><span>Iron-alloy
      management installation</span></p>
    </td>
    <td>
      <p><span>-
      Planning<br>
      - Assembling
      </span></p>
    </td>
    <td>
      <p><span>ITALY</span></p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <p>14</p>
    </td>
    <td>
      <p><span>Electrical
      boards for rollway motors protection</span></p>
    </td>
    <td>
      <p><span>-
      Planning<br>
      - Construction
      </span></p>
    </td>
    <td>
      <p><span>ITALY</span></p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <p>15</p>
    </td>
    <td>
      <p><span>Integrated
      plant automation for 2 ferry boats</span></p>
    </td>
    <td>
      <p><span>-
      Planning<br>
      - Assembling<br>
      - Testing</span></p>
    </td>
    <td>
      <p><span>ITALY</span></p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <p>16</p>
    </td>
    <td>
      <p><span>Electrical
      installation for new steel factory</span></p>
    </td>
    <td>
      <p><span>-
      Planning<br>
      - Assembling
      </span></p>
    </td>
    <td>
      <p><span>GREECE</span></p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <p>17</p>
    </td>
    <td>
      <p><span>Electrical
      Boards L.V. - MCC and PLC for papermaking industry</span></p>
    </td>
    <td>
      <p><span>-
      Planning<br>
      - Construction
      </span></p>
    </td>
    <td>
      <p><span>POLAND</span></p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <p>18</p>
    </td>
    <td>
      <p><span>Electrical
      Boards and Consoles for 5 passengers ships</span></p>
    </td>
    <td>
      <p><span>-
      Planning<br>
      - Construction
      </span></p>
    </td>
    <td>
      <p><span>ITALY</span></p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <p>19</p>
    </td>
    <td>
      <p><span>Cleaning
      and milIing of wheat for flour production</span></p>
    </td>
    <td>
      <p><span>-
      Planning<br>
      - Assembling<br>
      - Testing</span></p>
    </td>
    <td>
      <p><span>ITALY</span></p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <p>20</p>
    </td>
    <td>
      <p><span>Automation</span><span>
      for aspiration of particulates in steel plant</span></p>
    </td>
    <td>
      <p><span>-
      Planning<br>
      - Assembling<br>
      </span></p>
    </td>
    <td>
      <p><span>ITALY</span></p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <p>21</p>
    </td>
    <td>
      <p><span>Italian
      fresh cheese(mozzarella) production line</span></p>
    </td>
    <td>
      <p><span>-
      Planning<br>
      - Assembling<br>
      - Testing</span></p>
    </td>
    <td>
      <p><span>ITALY</span></p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <p>22</p>
    </td>
    <td>
      <p><span>Dedusting
      installation for coke-oven plant</span></p>
    </td>
    <td>
      <p><span>-
      Planning<br>
      - Assembling
      </span></p>
    </td>
    <td>
      <p><span>BELGIUM</span></p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <p>23</p>
    </td>
    <td>
      <p><span>Electroinstrumental
      installation for cogging stands in steel rolling mill</span></p>
    </td>
    <td>
      <p><span>-
      Planning<br>
      - Assembling
      </span></p>
    </td>
    <td>
      <p><span>GERMANY</span></p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <p>24</p>
    </td>
    <td>
      <p><span>Electroinstrumental
      installation of a oven for bar heating in steel pipe plant</span></p>
    </td>
    <td>
      <p><span>-
      Planning<br>
      - Assembling<br>
      </span></p>
    </td>
    <td>
      <p><span>FRANCE</span></p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <p>25</p>
    </td>
    <td>
      <p><span>Electrical
      boards for controls and drives</span></p>
    </td>
    <td>
      <p><span>-
      Planning<br>
      - Construction<br>
      </span></p>
    </td>
    <td>
      <p><span>CHINA</span></p>
    </td>
  </tr>
</tbody></table>
        </div> <!-- /Low Voltage -->




        <div role="tabpanel" class="tab-pane" id="26"> <!-- Low Voltage -->
<table class="table table-hover responsive-table">
  <tbody><tr>
    <td align="center">
      <p><b><span>No.</span></b></p>
    </td>
    <td align="center">
      <p><b><span>INSTALLATION DESCRIPTION</span></b></p>
    </td>
    <td align="center">
      <p><b><span>EXECUTED
      ACTIVITIES</span></b></p>
    </td>
    <td align="center">
      <p><b><span>LOCATION</span></b></p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <p>26</p>
    </td>
    <td>
      <p><span>Distribution
      electrical boards for High Speed railway line</span></p>
    </td>
    <td>
      <p><span>- Planning<br>
      - Construction<br>
      </span></p>
    </td>
    <td>
      <p><span>ITALY</span></p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <p>27</p>
    </td>
    <td>
      <p><span>Distribution L.V.
      boards and electrical lines for <span>papermaking
      industry</span></span></p>
    </td>
    <td>
      <p><span>- Planning<br>
      - Assembling<br>
      - Testing</span></p>
    </td>
    <td>
      <p><span>ITALY</span></p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <p>28</p>
    </td>
    <td>
      <p><span>Distribution L.V.
      boards in a.c. and d.c. for Unbundling Locals O.L.O. for public telephone
      control units</span></p>
    </td>
    <td>
      <p><span>- Planning<br>
      - Construction<br>
      </span></p>
    </td>
    <td>
      <p><span>ITALY</span></p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <p>29</p>
    </td>
    <td>
      <p><span>Emergency electrical
      <span>distribution </span>plant
      (for power and lighting) in public hospital</span></p>
    </td>
    <td>
      <p><span>- Planning<br>
      - Assembling<br>
      - Testing</span></p>
    </td>
    <td>
      <p><span>ITALY</span></p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <p>30</p>
    </td>
    <td>
      <p><span>Picking line plant
      in papermaking factory</span></p>
    </td>
    <td>
      <p><span>- Planning<br>
      - Assembling<br>
      </span></p>
    </td>
    <td>
      <p><span>ITALY</span></p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <p>31</p>
    </td>
    <td>
      <p><span>Tarring of coke-oven
      for steel production</span></p>
    </td>
    <td>
      <p><span>- Planning<br>
      - Assembling<br>
      </span></p>
    </td>
    <td>
      <p><span>ITALY</span></p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <p>32</p>
    </td>
    <td>
      <p><span>Distribution M.V.
      electrical power boards for steel plant</span></p>
    </td>
    <td>
      <p><span>- Planning<br>
      - Assembling<br>
      </span></p>
    </td>
    <td>
      <p><span>ITALY</span></p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <p>33</p></td>
    <td>
      <p><span>Electrical
      installation for 2 cranes of 450 tons</span></p>
    </td>
    <td>
      <p><span>- Planning<br>
      - Assembling<br>
      </span></p>
    </td>
    <td>
      <p><span>FRANCE</span></p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <p>34</p>
    </td>
    <td>
      <p><span>Electrical
      installation for quay grab crane</span></p>
    </td>
    <td>
      <p><span>- Planning<br>
      - Assembling<br>
      </span></p>
    </td>
    <td>
      <p><span>ITALY</span></p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <p>35</p>
    </td>
    <td>
      <p><span>Substitution of
      ticket machines in underground lines stations</span></p>
    </td>
    <td>
      <p><span>- Planning<br>
      - Assembling<br>
      </span></p>
    </td>
    <td>
      <p><span>ITALY</span></p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <p>36</p>
    </td>
    <td>
      <p><span>Pulper plant for
      papermaking factory</span></p>
    </td>
    <td>
      <p><span>- Planning<br>
      - Construction<br>
      - Assembling<span><br>
      - Automation<br>
      - Supervision</span></span></p>
    </td>
    <td>
      <p><span>ITALY</span></p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <p>37</p>
    </td>
    <td>
      <p><span>Revamping of
      distribution electrical installation M.V. and L.V. for
      idroelectric power station</span></p>
    </td>
    <td>
      <p><span>- Planning<br>
      - Assembling<br>
      </span></p>
    </td>
    <td>
      <p><span>ITALY</span></p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <p>38</p>
    </td>
    <td>
      <p><span>Electrical power,
      controls and automation&nbsp; boards for galvanizing line</span></p>
    </td>
    <td>
      <p><span>- Planning<br>
      - Construction<br>
      - Assembling</span></p>
    </td>
    <td>
      <p><span>GREECE</span></p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <p>39</p>
    </td>
    <td>
      <p><span>Installation of
      equipment to turn over ladle <span>in steel mill
      plant</span></span></p>
    </td>
    <td>
      <p><span>- Planning<br>
      - Assembling<br>
      </span></p>
    </td>
    <td>
      <p><span>ITALY</span></p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <p>40</p>
    </td>
    <td>
      <p><span>Automation<span>
      for aspiration of particulates in steel plant</span></span></p>
    </td>
    <td>
      <p><span>- Planning<br>
      - Construction<br>
      - Assembling<span><br>
      - Automation<br>
      - Supervision</span></span></p></td>
    <td>
      <p><span>FRANCE</span></p>
    </td>
  </tr>
</tbody></table>
        </div> <!-- /Low Voltage -->

        <div role="tabpanel" class="tab-pane" id="41"> <!-- Consoles -->
           <table class="table table-hover responsive-table">
  <tbody><tr>
    <td align="center">
      <p><b><span>No.</span></b></p>
    </td>
    <td align="center">
      <p><b><span>INSTALLATION DESCRIPTION</span></b></p>
    </td>
    <td align="center">
      <p><b><span>EXECUTED
      ACTIVITIES</span></b></p></td>
    <td align="center">
      <p><b><span>LOCATION</span></b></p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <p>41</p>
    </td>
    <td>
      <p><span>Electroinstrumental
      installation
      of 2 turbine for Turbogas power generation station</span></p>
    </td>
    <td>
      <p><span>- Planning<br>
      - Assembling<br>
      </span></p>
    </td>
    <td>
      <p><span>ITALY</span></p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <p>42</p>
    </td>
    <td>
      <p><span>Electrical
      Substation<br>
      132/30/15 KW for metallurgical plant</span></p>
    </td>
    <td>
      <p><span>- Planning<br>
      - Assembling<br>
      </span></p>
    </td>
    <td>
      <p><span>ITALY</span></p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <p>43</p>
    </td>
    <td>
      <p><span>New electrical
      converter Substation 132 KW for railway&nbsp; station</span></p>
    </td>
    <td>
      <p><span>- Planning<br>
      - Assembling<br>
      </span></p>
    </td>
    <td>
      <p><span>ITALY</span></p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <p>44</p>
    </td>
    <td>
      <p><span>Installation for
      aluminium rolling mill</span></p>
    </td>
    <td>
      <p><span>- Planning<br>
      - Assembling<br>
      </span></p>
    </td>
    <td>
      <p><span>ITALY</span></p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <p>45</p>
    </td>
    <td>
      <p><span>DescaIing equipments
      for slabs in steel factory</span></p>
    </td>
    <td>
      <p><span>- Planning<br>
      - Construction<br>
      - Assembling</span></p>
    </td>
    <td>
      <p><span>BELGIUM</span></p>
    </td>
  </tr>
  <tr>
    <td align="center">
      <p>46</p>
    </td>
    <td>
      <p><span>Electroinstrumental
      installation of a oven for bar heating in steel plant</span></p>
    </td>
    <td>
      <p><span>-
      Planning<br>
      - Assembling<br>
      - Testing</span></p>
    </td>
    <td>
      <p><span>NEW CALEDONIA</span></p>
    </td>
  </tr>
</tbody></table>
        </div> <!-- /Consoles -->

      </div> <!-- /Tab panes -->
    </div> <!-- /Tabs per prodotti -->
</div>
<div class="col-xs-2"></div>
        </div>
    </div>
</section>



























