<section class="header-1-sub smaller">
  <div id="pt-main" class="page-transitions pt-perspective">
    <div class="pt-page pt-page-1">
      <div class="background construction-background">
        &nbsp;
      </div>
      <div class="caption">
        <div class="container center">
          <h2>Electrical Cabling & Construction</h2>
        </div>
      </div>
    </div>
  </div>
</section> 

<section>
  <div class="container-fluid">
    <br/>
    <div class="row scaccomatto">
      <div class="col-xs-12 col-sm-4 quadrato">
        <img src="assets/constr/Strut_ext.JPG" class="img-responsive img-rounded pointer center-block" width="300" alt="Our Projects" data-toggle="modal" data-target="#Modal_constr1" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">
        <br/>
        <img src="assets/constr/Strut_silo.JPG" class=" hidden-xs img-responsive img-rounded pointer center-block" width="300" alt="Our Projects" data-toggle="modal" data-target="#Modal_constr2" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">
        <br/>
        <img src="assets/constr/Ext_box.JPG" class=" hidden-xs img-responsive img-rounded pointer center-block" width="300" alt="Our Projects" data-toggle="modal" data-target="#Modal_constr3" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">  
        <br/>
        <img src="assets/constr/Canal_smist.JPG" class="hidden-xs img-responsive img-rounded pointer center-block" width="300" alt="Our Projects" data-toggle="modal" data-target="#Modal_constr5" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">      
      </div>
      <div class="col-sm-7">
        <p>The experience and know how of our Company in this department, allow us to operate in any industrial sector assuring a high quality product delivery.</br>
        </br>
				The increasing, in the last years, of projects carried out abroad, enable us to operate worldwide thanks to technical background and language knowledges of our personnel. Furthermore, the Company can manage on its own any logistic aspect of supplying and deliverying of materials up to installation site.</br>
        </br>
				<strong>TYPICAL ACTIVITIES</strong></br>
        <ul>
					<li>Planning of Cables Ducts Lay Outs</li>
					<li>Electrical Cables Cross Section Area and Type Design</li>
					<li>Electrical Diagrams and Interconnecting Tables Design</li>
					<li>Steel Structural Works and Manufacture of Handmade Devices</li>
					<li>Positioning of Electrical Boards and Lay Down of Cables</li>
					<li>Electrical Connections</li>
					<li>Functional Tests</li>
					<li>Instrumentation Setting and Commissioning</li>
					<li>Delivering of 'As Built' Documentation</li>
        </ul>
        </p>
        <br/>
        <div class="col-xs-6 col-sm-6 aligno">
          <img src="assets/constr/Tubi_cavi.JPG" class="img-responsive img-rounded pointer" width="300" alt="Our Projects" data-toggle="modal" data-target="#Modal_constr7" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">
        </div>
        <div class="col-xs-6 col-sm-6 aligno">
          <img src="assets/constr/Canal_mult.JPG" class="img-responsive img-rounded pointer" width="300" alt="Our Projects" data-toggle="modal" data-target="#Modal_constr8" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">
        </div>
        <div class="col-xs-6 col-sm-6">
          <img src="assets/constr/Tubi_smist.JPG" class="img-responsive img-rounded pointer second-img" width="300" alt="Our Projects" data-toggle="modal" data-target="#Modal_constr9" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">
        </div>
        <div class="col-xs-6 col-sm-6">
          <img src="assets/constr/Tubi_intercon.JPG" class="img-responsive img-rounded pointer second-img" width="300" alt="Our Projects" data-toggle="modal" data-target="#Modal_constr4" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">
        </div>
      </div>
    </div>
  </div>
</section>
