<section class="header-1-sub">
    <div id="pt-main" class="page-transitions pt-perspective">
        <div class="pt-page pt-page-1">
            <div class="background">
                &nbsp;
            </div>
            <div class="caption">
                <div class="container">
                    <h3>Since 1990 we produce cutting-edge electromechanical equipments</h3>
                    <p class="lead">
                        Our products quality is ISO 9001 certified by CSQ
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>



<section>
  <div class="container-fluid" style="color:#000;">
<br/>
    <div class="row scaccomatto">
      <div class="col-md-4 quadrato" style="padding-left:40px;">
        <img src="assets/fitting/Morsetteria.JPG" class="img-responsive img-rounded pointer" width="300" alt="Morsetteria" data-toggle="modal" data-target="#Modal_auto1" data-toggle="tooltip" data-placement="auto bottom" data-container="img" title="Click for a larger prevew">
      </div>
      <div class="col-md-7" style="text-align:justify;">
       <h3>HIGH & MEDIUM VOLTAGE LINES FITTINGS</h3>
        <p style="margin-right:100px;">
        	</br>
					In this department the company has achieved an acknoledged know-how in the production of fittings for H.V. and M.V. aerial electric lines and power switch stations in the voltage range of 12 - 380 KV.
					</br></br>
					This activity began in 1976 through the incorporation of the joint partner ELMEC s.r.l. and today we hold the qualifications of following country leaders in power distribution: ENEL Distribuzione, TERNA e RFI.

        </p>
      </div>
    </div>

   </div>
</section>

<!-- Tutti i Modal per ingrandire le immagini -->
<div class="modal" id="Modal_auto1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Fittings</h4>
      </div>
      <div class="modal-body">
        <img class= "img-responsive" src="assets/fitting/Morsetteria.JPG" alt="Morsetteria">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
