
<section class="header-1-sub">
    <div id="pt-main" class="page-transitions pt-perspective">
        <div class="pt-page pt-page-1">
            <div class="background home-background">
                &nbsp;
            </div>
            <div class="caption">
                <div class="container homey">
                    <h1>Since 1990 we produce cutting-edge electromechanical equipments</h1>
                    <br/>
                <br/>
                    <p class="lead">Our products quality is ISO 9001 certified by CSQ</p>
                </div>
            </div>
        </div>
    </div>
</section>

        <!-- content-4  -->
        <section class="content-4">
            <div class="container">
                <h2 class="center">Our Products</h2>
                <br/>
                <div class="row features text-center">
                    <div class="col-sm-4">
                        <img src="/assets/img/auto.JPG" class="text-center img-rounded" alt="" style="width: 127px !important; height:114px !important;">
                        <h6>Automation</h6>
                        <br/>
                        <p>The hardware equipments and software packages used are state of the art products from well known world suppliers
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <img src="/assets/img/quad.JPG" class="img-rounded" alt="" style="width: 127px !important; height:114px !important;">
                        <h6>Switchboards/Panels</h6>
                        <br/>
                        <p>
                            Extendible, flexible and standard modules able to satisfy even the most peculiar needs 
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <img src="/assets/img/eco.JPG" class="img-rounded" alt="" style="width: 127px !important; height:114px !important;">
                        <h6>Electrical Cabling & Construction</h6>
                        <p>
                            Use your time for generating new ideas for your startup. Take a break from the routine
                        </p>
                    </div>
                </div>
                <div class="row features text-center">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-4">
                        <img src="/assets/img/hv.JPG" class="img-rounded" alt="" style="width: 127px !important; height:114px !important;">
                        <h6>HV, MV Fittings</h6>
                        <p>Acknowledged know-how in the production of fitting for H.V. and M.V. aerial electric lines and power switch stations in the voltage range of 12-380 KV, since 1976
                        </p>
                    </div>
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-4">
                       <img src="/assets/img/troll.JPG" class="img-rounded" alt="" style="width: 127px !important; height:114px !important;">
                        <h6>Cableholder Trolleys</h6>
                        <p>Produced since 1980, generally suited for quay cranes moving power supply, bridge cranes, industrial machines and moving installations
                        </p>
                    </div>
                    <div class="col-sm-1">
                    </div>
                </div>
            </div>
        </section>

        <!-- content-25  -->
        <section class="content-25 bg-clouds">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Quality</h2>

                        <p>
                            The strategy of our company and the principle of our design department, is to use  first class high quality components.
                            <br/><br/>
                            Our staff is highly qualified, experienced and well aware of the problems related to the use and management of equipments working with low and high current, and also, how to deal with pertinent problems of insulation and safety.
                            <br/><br/>
                            All our supplies and installations are currently tested by our inside organisation in a proper testing room. If required, we can supply the equipment with CESI certification, or equivalent.
                            <br/><br/>
                            The validity of our internal procedures and organization enabled Moditech to be certificate by CSQ for the Quality System Standard ISO 9001.
                            <br/><br/>
                            The Company constant aim is to follow, improve and maintain this Quality Standard.
                        </p>
                        <br/>
                        <%= link_to '/certificates/ISO.pdf', target: "_blank", :class => "btn btn-large btn-success" do %>
                            Download Certificate
                        <% end %>
                    </div>
                    <div class="col-sm-6 opac">
                        <img style="margin-top:120px;" src="/assets/img/QUALITY.png" alt="" width="502">
                    </div>
                </div>
            </div>
        </section>

        <!-- content-25  -->
        <section class="content-25 bg-clouds whity">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Security <span style="color:red;">(to be translated)</span></h2>

                        <p>
                            La sicurezza sul lavoro è una priorità per tutte le aziende da sempre e nel contingente contesto economico lo è ancora di più, soprattutto per le imprese che sono coinvolte in attività considerate ad alto rischio (come ad esempio il settore della cantieristica).
                            <br/><br/>
                            Da sempre Philip Electric è attenta ad operare nel pieno rispetto della sicurezza di dipendenti, clienti e terzi in generale, cercando di adottare atteggiamenti volti alla prevenzione del rischio di incidenti.
                            <br/><br/>
                            Questo impegno ci ha permesso di conseguire la prestigiosa Certificazione sui Sistemi di Gestione della Salute e Sicurezza sul Lavoro - non un traguardo ma un nuovo punto di partenza.
                        </p>
                        <br/>
                        <%= link_to '/certificates/Sicurezza.pdf', target: "_blank", :class => "btn btn-large btn-success" do %>
                            Download Certificate
                        <% end %>
                    </div>
                    <div class="col-sm-6 opac">
                        <img style="margin-top:50px;" src="/assets/img/SECURITY.jpg" alt="" width="502">
                    </div>
                </div>
            </div>
        </section>

    <section class="contacts-3">
        <div class="container">
            <div class="row">
            <h2 class="center">Get in touch with us</h2>
                <div class="col-sm-5">
                <br/>
                    <p>You can call us or send us an email.</p>
                    <div class="links">
                        <a href="#"><span class="fui-phone"></span> +00 000 000 00 <span style="color:red;">(to be fixed)</span></a><br>
                        <a href="#"><span class="fui-mail"></span> info@philipelectric.com <span style="color:red;">(to be fixed)</span></a>
                    </div>
                    <h6>Where to find us</h6>
                    <p>Here you can see a map with our company address.</p>
                    <div class="map">

                     <!--map-->
                        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/?ie=UTF8&amp;q=Strada+Gheorghe+Lazăr+10&amp;t=m&amp;ll=45.758069,21.224752&amp;spn=10.04554,20.072956&amp;z=16&amp;output=embed"></iframe>
                    </div>
                </div>
                <div class="col-sm-6 col-sm-offset-1">

                    <%= render "pages/contactform" %>

                </div>
            </div>
        </div>
    </section>

