
body { 
	font-size:18px !important;
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

h3 { font-size:24px !important; font-weight:bold !important }

h2 { font-size:42px !important; font-weight:normal !important; }

p { text-align:justify; color: #2c3e50; }

.container-fluid h2 { margin-top:45px; } 

// Prodotti
.scaccomatto { margin: 10px 60px 10px 60px; }

.quadrato { margin-top:30px; }


.pointer { cursor: pointer; cursor: hand; }

.center { text-align: center; }

.trittico {
	margin-top:30px;
	margin-left:60px;
	margin-right:60px;
	text-align:center;
}

.thumbnail-trittico { padding-top:30px; border:none;}

.thumbnail-trittico > img { width:100px; }

.thumbnail-trittico p { margin:15px 15px 0 15px; }

.equal { height: 364px; }


// Roba (forse inutile) per il mail-form.

.hidden { display: none; }
/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}