// Prodotti
.scaccomatto { margin: 10px 60px 10px 60px; }

.quadrato { margin-top:30px; }


.pointer { cursor: pointer; cursor: hand; }

// Trittico "Progetti di Automation"
.titolone { margin-top:50px; }

.center { text-align: center; }

.trittico {
	margin-top:30px;
	margin-left:60px;
	margin-right:60px;
	text-align:center;
}

.thumbnail-trittico { padding-top:30px; border:none;}

.thumbnail-trittico > img { width:100px; }

// Roba (forse inutile) per il mail-form.

.hidden { display: none; }

/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}