
.content-4, .content-4 .col-sm-4, .content-4 h3 { opacity:1 !important; }


body { 
	font-size:18px !important;
	font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

h3 { font-size:24px !important; font-weight:bold !important }

h2 { font-size:42px !important; font-weight:normal !important; }

p { text-align:justify; color: #2c3e50; }

.container-fluid h2 { margin-top:45px; } 

.container h2 { color:#fff; }

td p { text-align:left; }

.smaller { height:280px !important;}

#clear { clear:both; }

/* HEADER */

.caption .container h2 { margin-bottom:-90px; }


/*-- HOME --*/


.homey h2 { margin-bottom:-20px !important;}

.content-4 h2 { color:#2c3e50; margin-bottom:0px; }

.content-25 h2 { color:#2c3e50; margin-bottom:0px; }

.content-25 { padding-top:40px !important; }

.contacts-3 { padding-top:40px !important; }

.contacts-3 h2 { color:#2c3e50; }

// Prodotti
.scaccomatto { margin: 10px 60px 10px 60px; }

.quadrato { margin-top:30px; }


.pointer { cursor: pointer; cursor: hand; }

.center { text-align: center; }

.trittico {
	margin-top:30px;
	margin-left:60px;
	margin-right:60px;
	text-align:center;
}

.thumbnail-trittico { padding-top:30px; border:none;}

.thumbnail-trittico > img { width:100px; }

.thumbnail-trittico p { margin:15px 15px 0 15px; }

.equal { height: 364px; }


/*-- CONSTRUCTION --*/


.col-xs-8 ul li { 
	color: #2c3e50; 
	line-height:30pt; 
}




/*-- SWITCHBOARDS --*/

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.col-sm-15 > .thumbnail-trittico p { text-align:justify; margin-left:20%; }

.col-sm-15 > .thumbnail-trittico > img { float:left; margin-top:70px; }

.btn-switchb { margin-top:15px; float:right;}




/*-- CONSTRUCTION --*/


.col-md-7 ul li { 
	color: #2c3e50; 
	line-height:30pt; 
}



// Roba (forse inutile) per il mail-form.

.hidden { display: none; }
/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}