<!-- footer-6 -->
        <footer class="footer-6">
            <div class="container">
                <div class="row">
                    <nav>
                    <div class="col-sm-1">
                            <h6>Company</h6>
                        </div>
                        <div class="col-sm-2">
                            <ul>
                                <li>
                                    <a href="#">About</a>
                                </li>
                                <li>
                                    <a href="#">Partners</a>
                                </li>
                                <li>
                                    <a href="#">Contacts</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-1">
                            <h6>Products</h6>
                        </div>
                        <div class="col-sm-2">
                            <ul>
                                <li>
                                    <a href="#">Automation</a>
                                </li>
                                <li>
                                    <a href="#">Switchboards</a>
                                </li>
                                <li>
                                    <a href="#">Electrical Construction</a>
                                </li>
                                <li>
                                    <a href="#">Fitting HV, MV</a>
                                </li>
                                <li>
                                    <a href="#">Cableholder Trolleys</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-3" style="padding-left:80px;"> 
                        <img src="/assets/img/CSQ.jpg" />   
                        </div>
                    </nav>
                    <div class="col-sm-3">
                        <div>
                            <a class="brand" href="#">Philip Electric</a>
                            <p style="font-size:16px;"> Copyright &copy; 2014<br/>Philip Electric & Co. Srl<br/> RO33543658 </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>